.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    border: 0.5px solid lightgray;
    border-radius: 15px;
    background-color: white;
    margin: 0 6vw;
    padding: 1vh 4vw;
    animation: device-appear 2s ease-out forwards;
}

.wrapper:hover {
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.267);
}

@keyframes device-appear {
    from {
      opacity: 0;
      transform: translateY(1rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.wrapper h3, p {
    flex-basis: 25%;
    text-align: left;
}

.name, .type {
    font-family: 'AlegreyaSC-Regular';
}

.name {
    font-size: 18px;
}

.type {
    font-size: 24px;
}

.connectionGreen, 
.connectionRed, 
.connectionYellow {
    font-size: 16px;
    font-family: 'AlegreyaSC-Regular';
    letter-spacing: 4px;
}

.connectionGreen {
    color: #81ac00;
    align-self: flex-start;
}

.connectionRed {
    color: #ec2c1e;
}

.connectionYellow {
    color: #ee8916ea;
}

.connectionGreen::after {
    content: "✅";
    font-size: 10px;
}

.connectionRed::after {
    content: "🚫";
    font-size: 10px;
}

.connectionYellow::after {
    content: "🔔";
    font-size: 10px;
}

.imageWrapper {
    flex-basis: 25%;
}

.imageWrapper img {
    max-width: 100%;
}

.buttonWrapper {
   margin: 1rem;
}

.mainButton {
    width: 200px;
    height: 30px;
}


@media (max-width: 580px) {
    .wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .connectionGreen {
        align-self: initial;
    }
}