.modal {
    display: flex;
    flex-direction: column;
    justify-content:center; 
    margin: 0;
    padding: 2vh 2vw;
    background-color: #25917b;
    box-shadow: 1px 4px 14px rgba(0, 0, 0, 0.267);
    color: white;
    border-radius: 15px;
    min-width: 400px;
    min-height: 600px;
}

.keyValueWrapper {
    display: flex;
    justify-content: space-around;
    font-family: 'AlegreyaSC-Regular';
    margin-bottom: 2vh;
}


.key, 
.val {
    font-size: 16px;
    margin: 3px 0;
    min-width: 170px;
    min-height: 40px;
}
.key {
    color:black;
    flex-grow: 2;
    font-weight: 600;
}

.val {
    flex-grow: 4;
    border-bottom: 1px solid rgba(201, 201, 201, 0.781);
}

button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: black;
    align-self: center;
    color: aliceblue;
    cursor: pointer;
    font-family: 'AlegreyaSC-Regular';
    letter-spacing: 2.5px;
}

button:hover {
    background-color: rgb(82, 82, 82);
    color:aliceblue;
}
