.wrapper {
    min-height: 100vh;
    max-width: 100vw;
    background-color: aliceblue;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 8vw;
    margin: 0;
    max-width: 100%;
    height: 7vh;
    background-color: #4ec4ac;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.header h2 {
    text-align: center;
    font-size: 26px;
    font-family: 'AlegreyaSC-Regular';
    color:aliceblue;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 92vh;
    padding: 2vh 2vw;
}